@model Kouzon_E_Ticaret.Entity.Category

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container p-5 text-white">

    <h3 class="text-white">Kategoriyi Silmek İstediğinizden Emin Misiniz?</h3>
    <hr  class="bg-white"/>

    <div>
        <dl class="dl-horizontal">
            <dt class="text-green">
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt class="text-green">
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-danger" />
        @Html.ActionLink("Kategori Listesine Dön", "Index", null, new { @class = "btn btn-warning" })
    </div>
        }
    </div>

</div>