@model Kouzon_E_Ticaret.Models.OrderDetailsModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="text-white col-md-12">
            <h2 class="text-green">Sipariş Detay Bilgileri</h2>
            <hr class="bg-white" />

            @if (TempData["message"] != null)
            {
                <div class="alert alert-success">
                    @TempData["message"]
                </div>
            }

            <dl class="row text-white">

                <dt class="col-sm-3">Kullanıcı Adı</dt>
                <dd class="col-sm-9">@Model.FullName</dd>

                <dt class="col-sm-3">Order State</dt>
                <dd class="col-sm-9">
                    <div class="row">
                        @using (Html.BeginForm("UpdateOrderState", "Order", FormMethod.Post))
                        {
                            @Html.HiddenFor(i => i.Id)
                            <dl class="row">
                                <dt class="col-sm-8">
                                    @Html.EnumDropDownListFor(i => i.OrderState, "Select Order State", new { @class = "form-control" })
                                </dt>
                                <dd class="col-sm-4">
                                    <button type="submit" class="btn btn-success">Kaydet</button>
                                </dd>
                            </dl>

                        }


                    </div>


                </dd>

                <dt class="col-sm-3">Order Id</dt>
                <dd class="col-sm-9">@Model.Id</dd>

                <dt class="col-sm-3">Order Number</dt>
                <dd class="col-sm-9">@Model.OrderNumber</dd>

                <dt class="col-sm-3">Total</dt>
                <dd class="col-sm-9">
                    <i class="fa fa-try" aria-hidden="true"></i>
                    @Model.Total
                </dd>

                <dt class="col-sm-3">Order Date</dt>
                <dd class="col-sm-9">@Model.OrderDate</dd>

                <dt class="col-sm-3">Adres</dt>

                <dd class="col-sm-9">
                    @Model.AdresBasligi
                    <hr />
                    @Model.Adres
                    <br />
                    @Model.Sehir - @Model.Semt - @Model.Mahalle
                    <br />
                    @Model.PostaKodu
                </dd>

                <dt class="col-sm-3 text-green">Ürünler</dt>
                <dd class="col-sm-9">
                    <table class="table table-bordered text-white">
                        <thead>
                            <tr>
                                <th>Resim</th>
                                <th>Ürün İsmi</th>
                                <th>Miktar</th>
                                <th>Fiyat</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.OrderLines)
                            {
                                <tr>
                                    <td>
                                        <img src="~/Upload/@item.Image" width="70" />
                                    </td>
                                    <td>
                                        @item.ProductName
                                    </td>
                                    <td>
                                        @item.Quantity
                                    </td>
                                    <td>
                                        <i class="fa fa-try" aria-hidden="true"></i>
                                        @item.Price
                                    </td>
                                    <td>
                                        <a href="/Home/Urun/@item.ProductId" class="btn btn-success btn-sm" target="_blank">
                                            Ürün Detayları
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </dd>

            </dl>
        </div>
    </div>
</div>

